--extra-index-url https://download.pytorch.org/whl/cu121
backoff
datasets==3.6.0
evaluate
ipykernel==6.29.5
jiwer @ git+https://github.com/jitsi/jiwer.git@c1b0d5e005431f5ce4fa6797f48639a8ccaa5042
pandas
peft
tensorboard==2.17.0
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
tqdm
transformers==4.51.0